.header {text-align: left;
         background-color:#00529c;
         color:#ffcf01;
         font-family: Century Gothic;
        }

table {cellspacing: 10px;
      }

td {padding-left: 10px; 
    padding-right: 10px; 
    padding-top: 3px; 
    padding-bottom: 3px;
    vertical-align: middle;
   }

td.description {text-align:right; 
   }

td.val {text-align:left; 
   }

