table {cellspacing: 10px;
      }

td {padding-left: 10px; 
    padding-right: 10px; 
    padding-top: 3px; 
    padding-bottom: 3px;
    font-family: Century Gothic;
   }

td.label {text-align:right; 
   }

td.val {text-align:left; 
   }

