<html>
  <head>
    <title>District {{ complaint.district.name }} Christmas Cakes Complaint Form</title>
  </head>
  <body>
    {% load static %}
    <h1>Your District {{ complaint.district.name }} Christmas cake complaint submission has been recorded</h1>
    The details are:
    <ul>
      <li><b>Club Name</b>: {{ complaint.club_name }}</li>
      <li><b>Responsible member</b>: {{ complaint.resp_member_name }} - {{ complaint.resp_member_email }} - {{complaint.resp_member_cell }}</li>
      <li><b>Batch Number</b>: {{ complaint.batch_number }}</li>
      <li><b>Complaint Description</b>: {{ complaint.description }}</li>
    </ul>
    <p>Details of this complaint.will be emailed to the responsible member.</p>
    <p>If there are any errors or you wish to update your complaint, please contact your District Christmas cake chairperson:
      <ul>
        <li> {{ complaint.district.chair_name }}</li>
        <li> {{ complaint.district.chair_email }}</li>
        <li> {{ complaint.district.chair_cell }}</li>
      </ul>
  </body>
</html>
