<html>
  <head>
    <title>District {{ district.name }} Christmas Cakes Complaint Form</title>
  </head>
  <body id="body">
    {% load static %}
    <h1 class="header">
      <img src="{% static 'cakes_app/lions_logo.png' %}" alt="Logo" align="right" width="10%">
      District {{ district.name }} Christmas Cakes Complaint Form
    </h1>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'cakes_app/style.css' %}">
    <h4>
      Complaints will be forwarded to your District Chair for Christmas Cakes who will make contact with you. Please take photos of the affected cakes - your District Chair will request them by email.
    </h4>
    <h4>
      Contact details for your District Chair: {{ district.chair_name }} - {{ district.chair_email }}. Please do not contact the baker directly, contact your District Chair with any issues or queries.
    </h4>

    <form method="post">
      {% csrf_token %}
      <table>
        {% for field in form %}
        <tr>
          <td class="description">{{ field.label_tag }}</td>
          <td class="val">{{ field }}</td>
        </tr>
        {% endfor %}
      </table>
      <center>
        <button type="submit">Submit Order Form</button>
      </center>
    </form>
  </body>
</html>
