<html>
  <head>
    <title>Christmas cake order to be despatched on {{ date }}</title>
  </head>
  <body>
    {% load static %}
    <h3>Emails</h3>
    {{ emails }}

    <h1>Christmas cake order to be despatched on {{ date }}</h1>
    <p>
    Good day,
    <p>
    the Christmas cake baker has scheduled delivery for an order for your club to be despatched from Durban on {{ date }}. The cakes will be delivered to:
    <p>
    {{ location.name }}. The address is:<br>
    {{ location.address }}
    <p>
    These club's orders are included in the shipment:
    <ul>
    {% for club in clubs %}
        <li>{{ club }}</li>
    {% endfor %}
    </ul>
    <p>
    Please contact me on vanwykk+cakes@gmail.com if there is an error in your order details above.
    <p>
    Regards
    <br>Kim
  </body>
</html>
