<html>
  <head>
    <title>Scheduled Despatches</title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'cakes_app/style.css' %}">

    <h1>Scheduled Despatches for {{year}}</h1>
    <ul>
    {% for date, locations in despatches.items %}
        <h2> {{ date }} </h2>
        <ul>
        {% for id, location in locations.items %}
            <li><a href="/despatch_details/{{ date }}/{{ id }}">{{ location }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>
