<html>
  <head>
    <title>District {{ order.district.name }} Christmas Cakes Order Form</title>
  </head>
  <body>
    {% load static %}
    <h1>Thank you for your District {{ order.district.name }} Christmas cake order</h1>
    The details of your order are:
    <ul>
      <li><b>Club Name</b>: {{ order.club_name }}</li>
      <li><b>Number of 1kg cases</b>: {{ order.num_1kg_cases }} ({{ num_1kg_cakes }} cakes)</li>
      <li><b>Number of 500g cases</b>: {{ order.num_500g_cases }} ({{ num_500g_cakes }} cakes)</li>
      <li><b>Preferred delivery date</b>: {{ order.delivery_date }}</li>
      <li><b>Collection point</b>: {{ order.delivery_location }}</li>
      <li><b>Responsible member</b>: {{ order.resp_member_name }} - {{ order.resp_member_email }} - {{order.resp_member_cell }}</li>
      <li><b>Club president</b>: {{ order.pres_name }} - {{ order.pres_email }} - {{order.pres_cell }}</li>
      {% if order.comments %}<li><b>Further comments</b>: {{ order.comments }}</li>{% endif %}
    </ul>
    <p>Details of this order will be emailed to the club president and the responsible member.</p>
    <p>If there are any errors or you wish to update your order, please contact your District Christmas cake chairperson:
      <ul>
        <li> {{ order.district.chair_name }}</li>
        <li> {{ order.district.chair_email }}</li>
        <li> {{ order.district.chair_cell }}</li>
      </ul>
  </body>
</html>
