<html>
  <head>
    <title>District {{ district.name }} Christmas Cakes Order Form</title>
  </head>
  <body id="body">
    {% load static %}
    <h1 class="header">
      <img src="{% static 'cakes_app/lions_logo.png' %}" alt="Logo" align="right" width="10%">
      District {{ district.name }} Christmas Cakes Order Form
    </h1>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'cakes_app/style.css' %}">
    <h3>
      {{ message }}
    </h3>
  </body>
</html>
