<html>
  <head>
    <title>Multiple District 410 Christmas Cake Orders</title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'cakes_app/style.css' %}">

    <h1>Multiple District 410 Christmas Cake Orders for {{year}}</h1>

    <h3><a href="/excel/{{ year }}/">Download orders as an Excel spreadsheet</a></h3>

    <h3>Total cases ordered: {{ total }}</h3>
    <h3>Cases Ordered by Delivery Date</h3>
    <ul>
      {% for dt, cases in dates %}
      <li><b>{{ dt }}</b>: {{ cases }}</li>
      {% endfor %}
    </ul>
    <h3>Cases Ordered by Club</h3>
      {% for district, clubs_list in clubs %}
        <h4>District {{ district }}</h4>
        <ul>
          {% for club, cases in clubs_list %}
            <li><b>{{ club }}</b>: {{ cases }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    <h3>Cases Ordered by Delivery Point</h3>
      {% for district, points_list in points %}
        <h4>District {{ district }}</h4>
        <ul>
          {% for point, cases in points_list %}
            <li><b>{{ point }}</b>: {{ cases }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    <h3>Cases Ordered by District</h3>
    <ul>
      {% for district, cases in districts %}
      <li><b>{{ district }}</b>: {{ cases }}</li>
      {% endfor %}
    </ul>
