<html>
  <head>
    <title>District {{ district.name }} Christmas Cakes Order Form</title>
  </head>
  <body id="body">
    {% load static %}
    <h1 class="header">
      <img src="{% static 'cakes_app/lions_logo.png' %}" alt="Logo" align="right" width="10%">
      District {{ district.name }} Christmas Cakes Order Form
    </h1>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'cakes_app/style.css' %}">
    <h3>
      Orders are required by 31 July
    </h3>
    <h4>
      <u>Kindly note</u>: Deliveries will be made to central locations, not to individual clubs.
    </h4>
    <h4>
      Christmas cakes will be made available on a first come, first served basis. In other words, cakes will be made available according to the date the order was received. Cakes will be delivered to your chosen central location as close to your requested delivery date as possible.
    </h4>
    <h4>
      Clubs are responsible for following up on their cakes order with their District Chair for Christmas Cakes. Clubs must also be aware of the requirements that were placed with their order.
    </h4>
    <h4>
      To confirm your order, you can contact your District Chair for Christmas Cakes: {{ district.chair_name }} - {{ district.chair_email }}. Please do not contact the baker directly, contact your District Chair for Christmas Cakes with any issues or queries.
    </h4>

    <form method="post">
      {% csrf_token %}
      <table>
        {% for field in form %}
        <tr>
          <td class="description">{{ field.label_tag }}</td>
          <td class="val">{{ field }}</td>
        </tr>
        {% endfor %}
      </table>
      <center>
        <button type="submit">Submit Order Form</button>
    </center></form>
    <h3>
      Payment terms:
    </h3>
    <ul>
      <li>
        Payment for Christmas cakes must be made within 60 days from the invoice, or by 31 December, whichever is sooner. In other words, If the invoice is dated 6 September, the amount owed must be paid by 5 November. If the invoice is dated 1 December, it must be paid by 31 December.
      </li>
      <li>
        Invoices will be emailed to the 2 email addresses supplied by the Club on the order form.
      </li>
      <li>
        <b>To qualify for the R5.00 per cake settlement rebate, all invoices must be settled within 35 days from the invoice, or before 31 December, whichever is sooner.</b> In other words, If the invoice is dated 6 September, the amount owed must be paid on or before 10 October. The settlement rebate will be paid into your account by the District Treasurer during the first week of February or later if all clubs have not paid the baker by the first week of February. In order to qualify for the settlement rebate, payment must reflect in the baker’s account before the due date. Payments made on the due date will not qualify.
      </li>
    </ul>
    <h3>
      Complaint Procedure:
    </h3>
    <ul>
      <li>
        Complainant completes the complaint form. Minimum information required:
      </li>
      <ul>
        <li>
          Batch number and production date - printed on inner packaging cellophane.
        </li>
        <li>
          Photographs of problem i.e. mould, damaged cartons, damaged cakes.
        </li>
        <li>
          Number of cakes affected.
        </li>
        <li>
          Complaint form and photographs sent to District Chairperson.
        </li>
        <li>
          District Chairpersons record complaints and forwards to MD Cake Chairperson.
        </li>
        <li>
          "No complaint form" = no complaint.
        </li>
      </ul>
    </ul>
  </body>
</html>
