<html>
  <head>
    <title>Unemailed Orders</title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'cakes_app/style.css' %}">

    <h1>Unemailed Orders</h1>
    <ul>
    {% for order in orders %}
        <li><a href="/order_details/{{ order.id }}">{{ order.club_name }}</a></li>
    {% endfor %}
    </ul>
